@import "../../../styles.css";
.main-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 87vh;
    padding: 0px;
    background-color: var(--background);
    display: flex;
}

.main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    padding: 0;
    .infos{
      height: 300px;
      flex-direction: column;
      width: 80%;
      display: flex;
      align-items: start;
      padding: 40px;
      justify-content: space-around;
      background-color: var(--primary);
      background: linear-gradient(90deg, rgb(10, 10, 10) 0%, rgb(92, 92, 92) 88%);

      border-radius: 20px;
      margin: 50px 0;
      .horarios{
        display: flex;
        flex-direction: column;
        h1{
          color: white;

        }
        .horarios_content{
          h2{
            color: white;
            font-size: 1rem;
            font-weight: 400;
          }

        }
      }
      .agenda{
        padding: 15px 20px;
        border-radius: 15px;
        background-color: var(--background);

        a{
          text-decoration: none;
          font-size: 1rem;
          color: var(--primary);

        }
      }

    }
}

.title {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(19, 19, 18);
    text-align: center;
}

.welcome {
    font-weight: 600;
    font-size: 2.5vw;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.map iframe {
    border-radius: 15px;
    width: 100%;
    height: 300px;
    display: block;
}
.map{
    width: 100vw;
}
footer{
  width: 100%;
  min-height: 200px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  border-top: 10px solid var(--primary);
  flex-wrap: wrap;
  ul{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    max-width: 200px;
    width: 200px;
    .logo{
      width: 120px;
    }
    li{
      list-style: none;
      &.title{
        align-items: start;
        font-weight: bold;
      }
    }

  }
}
