<div class="main-container">
  <div class="logo-container">
    <img src="logo.png" alt="Logo" class="logo">
  </div>

  <div class="navigator">
    <nav data-aos="fade-down"
         data-aos-easing="linear"
         data-aos-duration="500" class="routes">
      <a href="#inicio" class="nav-link">Início</a>
      <a href="#tratamentos" class="nav-link">Clínica</a>
      <a href="#clinica" class="nav-link">Informações</a>
      <a href="https://wa.me/{{ myNumber }}" class="whatsapp" target="_blank">Whatsapp</a>
    </nav>
  </div>
</div>