.main-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #0a0a0a;
    height: 87vh;
}

.title {
    text-align: center;

    color: white;
    margin-top: 80px;
}

.carrossel {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 90%;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;


}

.slide {
    flex: 0 0 30%; 
    max-height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    margin-top: 40px;

}

.slide img {
    max-width: 100%;
    max-height: 80%;
    overflow: hidden;
    border-radius: 10px;
    
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    color: black;
    font-weight: bold;
    transition: 0.2s ease-in;
}

button:hover {
    background: black;
    color: white;
    
}

.prev {
    left: 10px;

}

.next {
    right: 10px;
}
