.main-container {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    position: relative;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 0; 
    box-sizing: border-box;
    margin-top: 100px;
}

.title {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 140px;
    letter-spacing: 10px;
}

.instagram {
    border-radius: 40%;
    height: 60px;
    width: 60px;
    margin-top: 40px; 
    transition: 0.2s;
}

.instagram:hover{

    box-shadow: 1px 0px 5px 9px rgba(247,255,137,0.55);
-webkit-box-shadow: 1px 0px 5px 9px rgba(247,255,137,0.55);
-moz-box-shadow: 1px 0px 5px 9px rgba(247,255,137,0.55);
}

.carrossel {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%; 
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
    gap: 2px;
    box-sizing: border-box;
    margin-bottom: 90px;
}

.slide {
    flex: 0 0 35%;
    max-height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

.slide img {
    max-width: 90%;
    max-height: 80%;
    overflow: hidden;
    border-radius: 10px;
  }

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    font-weight: bold;
    transition: 0.2s ease-in;
}

button:hover {
    background: black;
    color: white;
}

.prev {
    left: 1px; 
}

.next {
    right: 10px;
}
