<div id="tratamentos" class="main-container">
    <div class="title">
        <h1 data-aos="zoom-in">Nossa clínica</h1>
        <a data-aos="zoom-in"
        data-aos-duration="1000" href="#"><img class="instagram" src="/assets/carrossel/instagram.png" alt=""></a>
    </div>
    <div class="carrossel" >
        <div class="slides" [style.transform]="transform">
            <div data-aos="zoom-in" *ngFor="let image of images; let i = index" class="slide">
                <img [src]="'/assets/carrossel/' + image" alt="">
            </div>
        </div>
        <button class="prev" (click)="prevSlide()">&#10094;</button>
        <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>



</div>